body , ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    display: flex;
}

#menu {
    display: flex;
    list-style: none;
}
